# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Local databases/user states
dados_*.json

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# PyInstaller build files
build/
dist/
*.spec

# Documentação local não commitada
fluxo_funcionalidades.txt

